:root {
    /* --body_font :  'Akzidenz-Grotesk BQ'; */
    --body_font_size : 16px;
    --body_line_height : 1.2rem;
    --small_font_size : 11px;
    --font-weight-medium : 500;
    --font-weight-bold : 700;
    --font-weight-normal : 400;
}
body{
    font-family: "Montserrat", Sans-serif;
}
.d-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
   
}
.w-100 {
    width: 100%;
}
.btn {
    padding: 9px 130px;
    border-radius: 1px;
    text-decoration: none;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    transition: 300ms;
    display: inline-block;
    text-wrap: nowrap;
}
.primary-btn, .button {
    background: #14261C;
    color: #DC9A0E;
}

.mobile {
    display: none;
}


@media only screen and (max-width:767px) {
    .btn {
        height: 44px;
        padding: 0 35px;
        padding-top: 4px;
    }
    .section-heading {
        font-size: 24px;
        line-height: 26px;
    }
    .section-top {
        padding-bottom: 10px;
        margin-bottom: 15px;
    }
    .desk {
        display: none;
    }
    .mobile {
        display: block;
    }
}