:root {
    /* --body_font :  'Akzidenz-Grotesk BQ'; */
    --body_font_size : 16px;
    --body_line_height : 1.2rem;
    --small_font_size : 11px;
    --font-weight-medium : 500;
    --font-weight-bold : 700;
    --font-weight-normal : 400;
}

.w-100 {
    width: 100%;
}
.btn {
    height: 52px;
    display: flex;
    align-items: center;
    max-width: fit-content;
    padding: 15px 50px;
    border-radius: 5px;
    text-decoration: none;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    transition: 300ms;
}
.primary-btn {
    background: #14261C;
    color: #DC9A0E;
}

.mobile {
    display: none;
}


.slick-dots button {
    display: none;
}

.slick-dots {
    bottom: 15px;
}

.slick-dots li {
    background: #898989;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
}

.slick-dots .slick-active {
    background: #fff;
}

.slider-items.slick-initialized.slick-slider.slick-dotted {
    margin-bottom: 0;
}
ul.slick-dots {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    padding: 0;
    margin: 0;
}
@media only screen and (max-width:767px) {
    .btn {
        height: 44px;
        padding: 0 35px;
        padding-top: 4px;
    }
    .desk {
        display: none;
    }
    .mobile {
        display: block;
    }
}